
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@Html.Partial("Client/_PartialBreadCrumb")

<div class="container margin-bottom-20 margin-top-30">
    <div class="d-none">
        <h1 class="title-head">Đăng nhập tài khoản</h1>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-5 col-md-12">
            <div class="page-login account-box-shadow">
                <div id="login">
                    <div class="evo-account-content">
                        <ul class="auth-block__menu-list">
                            <li class="active">
                                <a href="#" title="Đăng nhập">Đăng nhập</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Register", "Home")" title="Đăng ký">Đăng ký</a>
                            </li>
                        </ul>
                        <div id="evo-login">
                            <form method="post" action="@Url.Action("CheckCustomer","Auth")" accept-charset="UTF-8">
                                <input name="FormType" type="hidden" value="customer_login" /><input name="utf8" type="hidden" value="true" />
                                <div class="form-signup">

                                </div>
                                <div class="form-signup clearfix">
                                    <fieldset class="form-group margin-bottom-10">
                                        <label>Your Phone Number<span class="required">*</span></label>
                                        <input autocomplete="off" placeholder="Input phone number" type="text" class="form-control form-control-lg" value="" name="PhoneNumber" id="PhoneNumber" required data-validation="PhoneNumber" data-validation-error-msg="PhoneNumber sai định dạng" />
                                    </fieldset>
                                    <fieldset class="form-group margin-bottom-0">
                                        <label>Password<span class="required">*</span></label>
                                        <input autocomplete="off" placeholder="Input Password" type="password" class="form-control form-control-lg" value="" name="Password" id="Password" data-validation-error-msg="Không được để trống" data-validation="required" />
                                    </fieldset>
                                    <div class="clearfix"></div>
                                    <p class="text-right recover">
                                        <a href="#recover" class="btn-link-style" onclick="showRecoverPasswordForm();" title="Quên mật khẩu?">Quên mật khẩu?</a>
                                    </p>
                                    <div class="pull-xs-left text-center" style="margin-top: 15px;">
                                        <button class="btn btn-style btn-blues" type="submit" value="Đăng nhập">Login</button>
                                    </div>
                                    <p class="login--notes">Washintown cam kết bảo mật và sẽ không bao giờ đăng <br>hay chia sẻ thông tin mà chưa có được sự đồng ý của bạn.</p>
                                </div>
                            </form>
                           
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function showRecoverPasswordForm() {
        document.getElementById('recover-password').style.display = 'block';
        document.getElementById('evo-login').style.display = 'none';
    }

    function hideRecoverPasswordForm() {
        document.getElementById('recover-password').style.display = 'none';
        document.getElementById('evo-login').style.display = 'block';
    }


</script>



@Html.Partial("Client/_PartialFooter")




