
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">

            </div>
            
        </div>
    </div>
    <div class="container footer-main">
        <div class="row">
            <div class="col-md-12 col-sm-6 col-lg-3 col-12 footer-nav-logo widget">
                <a href="../index.html" class="logo-wrapper" title="Washintown">
                    <img width="400" height="138" src="@Url.Content("~/Content/Client/Images/logo811e.png")" alt="Washintown" class="lazy" />
                </a>
                <p class="footer-slogan">
                    Should you have any questions, don’t hesitate to reach out to us.

                    <a href="mailto:washintown139@gmail.com" title="washintown139@gmail.com">washintown139@gmail.com</a>

                </p>
                <p class="footer-tel">

                    Hotline: <a href="tel:0909667322" title="0909667322">090 9667 322</a>

                </p>

                <p class="evo-in">Address: <a href="https://g.page/Washintown139?share" target="_blank">139B Đường 79, Phường Tân Quy, Quận 7, Hồ Chí Minh</a> </p>

                <div class="social">
                    <a class="fb" rel="noreferrer" href="https://www.facebook.com/washintownshoecare" target="_blank" aria-label="Facebook" title="Theo dõi Washintown trên Facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
                        <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803   c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654   c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246   c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#EBE7E7" />
						</svg>
                    </a>
                    <a class="tt" rel="noreferrer" href="https://www.facebook.com/washintownvn" target="_blank" aria-label="Facebook" title="Theo dõi Washintown trên Facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
                        <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803   c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654   c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246   c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#EBE7E7" />
						</svg>
                    </a>
                    <a class="yt" rel="noreferrer" href="#" target="_blank" aria-label="Youtube" title="Theo dõi Washintown trên Youtube">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <path d="M490.24,113.92c-13.888-24.704-28.96-29.248-59.648-30.976C399.936,80.864,322.848,80,256.064,80
									 c-66.912,0-144.032,0.864-174.656,2.912c-30.624,1.76-45.728,6.272-59.744,31.008C7.36,138.592,0,181.088,0,255.904
									 C0,255.968,0,256,0,256c0,0.064,0,0.096,0,0.096v0.064c0,74.496,7.36,117.312,21.664,141.728
									 c14.016,24.704,29.088,29.184,59.712,31.264C112.032,430.944,189.152,432,256.064,432c66.784,0,143.872-1.056,174.56-2.816
									 c30.688-2.08,45.76-6.56,59.648-31.264C504.704,373.504,512,330.688,512,256.192c0,0,0-0.096,0-0.16c0,0,0-0.064,0-0.096
									 C512,181.088,504.704,138.592,490.24,113.92z M192,352V160l160,96L192,352z" />
						</svg>
                    </a>
                    <a class="ins" rel="noreferrer" href="https://www.instagram.com/washintown.shoecare/" target="_blank" aria-label="Instagram" title="Theo dõi Washintown trên Instagram">
                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m75 512h362c41.355469 0 75-33.644531 75-75v-362c0-41.355469-33.644531-75-75-75h-362c-41.355469 0-75 33.644531-75 75v362c0 41.355469 33.644531 75 75 75zm-45-437c0-24.8125 20.1875-45 45-45h362c24.8125 0 45 20.1875 45 45v362c0 24.8125-20.1875 45-45 45h-362c-24.8125 0-45-20.1875-45-45zm0 0" /><path d="m256 391c74.4375 0 135-60.5625 135-135s-60.5625-135-135-135-135 60.5625-135 135 60.5625 135 135 135zm0-240c57.898438 0 105 47.101562 105 105s-47.101562 105-105 105-105-47.101562-105-105 47.101562-105 105-105zm0 0" /><path d="m406 151c24.8125 0 45-20.1875 45-45s-20.1875-45-45-45-45 20.1875-45 45 20.1875 45 45 45zm0-60c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15-15-6.730469-15-15 6.730469-15 15-15zm0 0" /></svg>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 col-12 footer-nav-menu widget">
                <p class="footer-title">About us</p>
                <div class="footer-menu">

                    <a href="../index.html" title="Trang chủ" rel="nofollow">Home</a>

                    <a href="../gioi-thieu-washintown.html" title="Giới thiệu" rel="nofollow">Introduction</a>

                    <a href="../dich-vu.html" title="Dịch vụ" rel="nofollow">Service</a>


                    <a href="../meo-cham-soc-nha-cua-quan-ao.html" title="Mẹo vệ sinh nhà cửa" rel="nofollow">Mẹo vệ sinh nhà cửa</a>

                    <a href="../contact-us.html" title="Liên hệ" rel="nofollow">Contact</a>

                    <a href="../bang-gia-dich-vu.html" title="Bảng giá dịch vụ" rel="nofollow">Package Price List</a>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 col-12 footer-nav-menu widget">
                <p class="footer-title">How to Book</p>
                <div class="footer-menu">

                    <a href="../huong-dan.html" title="Hướng dẫn mua hàng" rel="nofollow">Booking Instructions</a>

                    <a href="../huong-dan.html" title="Hướng dẫn thanh toán" rel="nofollow">Payment Instructions</a>

   

                    <a href="../dieu-khoan.html" title="Điều khoản dịch vụ" rel="nofollow">Terms of Service</a>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 col-12 footer-nav-menu widget">
                <p class="footer-title">Customer Policy</p>
                <div class="footer-menu">

                    <a href="../chinh-sach-bao-ve-quyen-loi-khach-hang.html" title="Bảo vệ quyền lợi Khách Hàng" rel="nofollow">Customer Rights Protection</a>

                    <a href="../chinh-sach-giao-nhan.html" title="Chính sách giao nhận" rel="nofollow">Delivery Policy</a>



                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">

        © Bản quyền thuộc về Washintown <span class="s480-f">|</span> Cung cấp bởi <a href="javascript:;">Sapo</a>


        <div class="back-to-top text-center" title="Lên đầu trang"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15px" height="15px" viewBox="0 0 284.929 284.929" style="enable-background:new 0 0 284.929 284.929;" xml:space="preserve"><path d="M282.082,195.285L149.028,62.24c-1.901-1.903-4.088-2.856-6.562-2.856s-4.665,0.953-6.567,2.856L2.856,195.285   C0.95,197.191,0,199.378,0,201.853c0,2.474,0.953,4.664,2.856,6.566l14.272,14.271c1.903,1.903,4.093,2.854,6.567,2.854   c2.474,0,4.664-0.951,6.567-2.854l112.204-112.202l112.208,112.209c1.902,1.903,4.093,2.848,6.563,2.848   c2.478,0,4.668-0.951,6.57-2.848l14.274-14.277c1.902-1.902,2.847-4.093,2.847-6.566   C284.929,199.378,283.984,197.188,282.082,195.285z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF" /></svg></div>


        <a class="btn-call-now" href="tel:0909667322">
            <i class="fa fa-phone">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 480.56 480.56" style="enable-background:new 0 0 480.56 480.56;" xml:space="preserve"> <g> <g> <path d="M365.354,317.9c-15.7-15.5-35.3-15.5-50.9,0c-11.9,11.8-23.8,23.6-35.5,35.6c-3.2,3.3-5.9,4-9.8,1.8 c-7.7-4.2-15.9-7.6-23.3-12.2c-34.5-21.7-63.4-49.6-89-81c-12.7-15.6-24-32.3-31.9-51.1c-1.6-3.8-1.3-6.3,1.8-9.4 c11.9-11.5,23.5-23.3,35.2-35.1c16.3-16.4,16.3-35.6-0.1-52.1c-9.3-9.4-18.6-18.6-27.9-28c-9.6-9.6-19.1-19.3-28.8-28.8 c-15.7-15.3-35.3-15.3-50.9,0.1c-12,11.8-23.5,23.9-35.7,35.5c-11.3,10.7-17,23.8-18.2,39.1c-1.9,24.9,4.2,48.4,12.8,71.3 c17.6,47.4,44.4,89.5,76.9,128.1c43.9,52.2,96.3,93.5,157.6,123.3c27.6,13.4,56.2,23.7,87.3,25.4c21.4,1.2,40-4.2,54.9-20.9 c10.2-11.4,21.7-21.8,32.5-32.7c16-16.2,16.1-35.8,0.2-51.8C403.554,355.9,384.454,336.9,365.354,317.9z" /> <path d="M346.254,238.2l36.9-6.3c-5.8-33.9-21.8-64.6-46.1-89c-25.7-25.7-58.2-41.9-94-46.9l-5.2,37.1 c27.7,3.9,52.9,16.4,72.8,36.3C329.454,188.2,341.754,212,346.254,238.2z" /> <path d="M403.954,77.8c-42.6-42.6-96.5-69.5-156-77.8l-5.2,37.1c51.4,7.2,98,30.5,134.8,67.2c34.9,34.9,57.8,79,66.1,127.5 l36.9-6.3C470.854,169.3,444.354,118.3,403.954,77.8z" /> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
            </i>
        </a>


    </div>

</footer>

<div class="backdrop__body-backdrop___1rvky"></div>
<div class="mobile-main-menu">
    <div class="la-scroll-fix-infor-user">
        <button class="evo-close-menu" aria-label="Đóng menu" title="Đóng menu">
            <svg class="Icon Icon--close" viewBox="0 0 16 14">
                <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
            </svg>
        </button>
        <ul class="la-nav-list-items">


            <li class="ng-scope ">
                <a href="../index.html" title="Trang chủ">Trang chủ</a>
            </li>



            <li class="ng-scope ">
                <a href="../gioi-thieu-washintown.html" title="Giới thiệu">Giới thiệu</a>
            </li>



            <li class="ng-scope ng-has-child1">
                <a href="../dich-vu.html" title="Dịch vụ">Dịch vụ <span class="svg svg1 collapsible-plus"></span></a>
                <ul class="ul-has-child1">


                    <li class="ng-scope ng-has-child2">
                        <a href="../ve-sinh-cham-soc-giay.html" title="Chăm sóc - Phục hồi giày">Chăm sóc - Phục hồi giày <span class="svg svg2 collapsible-plus"></span></a>
                        <ul class="ul-has-child2">

                            <li class="ng-scope">
                                <a href="../ve-sinh-sneaker.html" title="Vệ sinh Sneaker">Vệ sinh Sneaker</a>
                            </li>

                            <li class="ng-scope">
                                <a href="../cham-soc-giay-da.html" title="Vệ sinh giày da">Vệ sinh giày da</a>
                            </li>

                            <li class="ng-scope">
                                <a href="../phuc-hoi-giay.html" title="Phục hồi giày">Phục hồi giày</a>
                            </li>

                            <li class="ng-scope">
                                <a href="../sua-giay.html" title="Sửa chữa">Sửa chữa</a>
                            </li>

                        </ul>
                    </li>



                    <li class="ng-scope ng-has-child2">
                        <a href="../giat-ui-giat-hap.html" title="Giặt ủi & Giặt hấp">Giặt ủi & Giặt hấp <span class="svg svg2 collapsible-plus"></span></a>
                        <ul class="ul-has-child2">

                            <li class="ng-scope">
                                <a href="../giat-say.html" title="Giặt sấy nhanh">Giặt sấy nhanh</a>
                            </li>

                            <li class="ng-scope">
                                <a href="../combo-goi-giat.html" title="Combo gói giặt">Combo gói giặt</a>
                            </li>

                            <li class="ng-scope">
                                <a href="../giat-hap-cao-cap.html" title="Giặt hấp cao cấp">Giặt hấp cao cấp</a>
                            </li>

                            <li class="ng-scope">
                                <a href="../giat-chan-men-lon.html" title="Giặt chăn mền lớn">Giặt chăn mền lớn</a>
                            </li>

                            <li class="ng-scope">
                                <a href="../ve-sinh-nha-cua.html" title="Vệ sinh nhà cửa">Vệ sinh nhà cửa</a>
                            </li>

                        </ul>
                    </li>



                    <li class="ng-scope ng-has-child2">
                        <a href="../ve-sinh-nha-cua.html" title="Vệ sinh nhà cửa">Vệ sinh nhà cửa <span class="svg svg2 collapsible-plus"></span></a>
                        <ul class="ul-has-child2">

                            <li class="ng-scope">
                                <a href="../ve-sinh-sofa.html" title="Vệ sinh sofa">Vệ sinh sofa</a>
                            </li>

                            <li class="ng-scope">
                                <a href="../ve-sinh-nem-1.html" title="Vệ sinh nệm">Vệ sinh nệm</a>
                            </li>

                            <li class="ng-scope">
                                <a href="../ve-sinh-tham-tan-nha.html" title="Vệ sinh thảm">Vệ sinh thảm</a>
                            </li>

                            <li class="ng-scope">
                                <a href="../ve-sinh-rem-cua.html" title="Vệ sinh rèm">Vệ sinh rèm</a>
                            </li>

                            <li class="ng-scope">
                                <a href="../ve-sinh-dien-may.html" title="Vệ sinh điện máy">Vệ sinh điện máy</a>
                            </li>

                        </ul>
                    </li>



                    <li class="ng-scope">
                        <a href="../shoe-care-products.html" title="Shoe Care Products">Shoe Care Products</a>
                    </li>


                </ul>
            </li>



            <li class="ng-scope ">
                <a href="../tin-khuyen-mai.html" title="Khuyến mãi">Khuyến mãi</a>
            </li>



            <li class="ng-scope ">
                <a href="../blog.html" title="Mẹo chăm sóc giày">Mẹo chăm sóc giày</a>
            </li>



            <li class="ng-scope ">
                <a href="../meo-cham-soc-nha-cua-quan-ao.html" title="Mẹo vệ sinh nhà cửa">Mẹo vệ sinh nhà cửa</a>
            </li>



            <li class="ng-scope ">
                <a href="../contact-us.html" title="Liên hệ">Liên hệ</a>
            </li>



            <li class="ng-scope ">
                <a href="../bang-gia-dich-vu.html" title="Bảng giá dịch vụ">Bảng giá dịch vụ</a>
            </li>


            <li class="ng-scope ng-cate">Liên kết</li>


            <li class="ng-scope ">
                <a href="../tin-khuyen-mai.html" title="Khuyến mãi">Khuyến mãi</a>
            </li>



            <li class="ng-scope ">
                <a href="../bang-gia-dich-vu.html" title="Bảng giá dịch vụ">Bảng giá dịch vụ</a>
            </li>



            <li class="ng-scope ">
                <a href="../tuyen-dung-tai-washintown.html" title="Tuyển dụng">Tuyển dụng</a>
            </li>



            <li class="ng-scope "><a rel="nofollow" href="@Url.Action("Login", "Home")" title="Đăng nhập">Đăng nhập</a></li>
            <li class="ng-scope "><a rel="nofollow" href="@Url.Action("Register", "Home")" title="Đăng ký">Đăng ký</a></li>

            <li class="ng-scope ">
                <a rel="nofollow" class="js-wishlist-link" href="#" title="Sản phẩm Yêu thích">Sản phẩm Yêu thích (<span class="js-wishlist-count"></span>)</a>
            </li>

            <li class="ng-scope booking-calendar-item ">
                <a class="nav-link" href="../dat-lich-dich-vu.html" title="Đặt lịch dịch vụ"><svg version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><path d="m457 60h-36v-15c0-24.813-20.187-45-45-45s-45 20.187-45 45v15h-150v-15c0-24.813-20.187-45-45-45s-45 20.187-45 45v15h-36c-30.327 0-55 24.673-55 55v342c0 30.327 24.673 55 55 55h402c30.327 0 55-24.673 55-55v-342c0-30.327-24.673-55-55-55zm-96-15c0-8.271 6.729-15 15-15s15 6.729 15 15v60c0 8.271-6.729 15-15 15s-15-6.729-15-15zm-240 0c0-8.271 6.729-15 15-15s15 6.729 15 15v60c0 8.271-6.729 15-15 15s-15-6.729-15-15zm-91 70c0-13.785 11.215-25 25-25h36v15c0 24.813 20.187 45 45 45s45-20.187 45-45v-15h150v15c0 24.813 20.187 45 45 45s45-20.187 45-45v-15h36c13.785 0 25 11.215 25 25v67h-452zm452 342c0 13.785-11.215 25-25 25h-402c-13.785 0-25-11.215-25-25v-245h452z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m306.764 272h23.473v165c0 8.284 6.716 15 15 15s15-6.716 15-15v-180c0-8.284-6.716-15-15-15h-38.473c-8.284 0-15 6.716-15 15s6.715 15 15 15z" fill="#ffffff" data-original="#000000" style="" class="" /><path d="m211.764 422c-14.886 0-27.658-11.09-29.71-25.796-.192-1.378-.29-2.792-.29-4.204 0-8.284-6.716-15-15-15s-15 6.716-15 15c0 2.793.194 5.603.577 8.35 4.109 29.445 29.655 51.65 59.423 51.65 33.084 0 60-26.916 60-60 0-17.908-7.896-33.997-20.377-45 12.481-11.003 20.377-27.092 20.377-45 0-33.084-26.916-60-60-60-28.607 0-53.367 20.35-58.874 48.387-1.597 8.129 3.699 16.013 11.828 17.61 8.12 1.596 16.012-3.699 17.609-11.828 2.751-14.004 15.131-24.169 29.437-24.169 16.542 0 30 13.458 30 30s-13.458 30-30 30c-8.284 0-15 6.716-15 15s6.716 15 15 15c16.542 0 30 13.458 30 30s-13.458 30-30 30z" fill="#ffffff" data-original="#000000" style="" class="" /></svg> Đặt lịch dịch vụ</a>
            </li>

        </ul>
    </div>
</div>